/node_modules
/public/hot
/public/sitemap.xml
/public/mix-manifest.json
/public/build
/public/.htaccess
/resources/js/ziggy.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
error_log
_ide_helper.php
