.ProseMirror {
    table {
        border-collapse: collapse;
        margin: 0;
        max-width: 100%;
        width: 10%;

        td, th {
            @apply border-black border text-center font-normal p-1;
            vertical-align: center;
            box-sizing: border-box;
            position: relative;

            p {
                @apply m-0;
            }
        }

        th {
            @apply bg-gray-200;
        }

        .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
        }

        .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
        }
    }

    .custom-image-small {
        max-height: 16px;
        width: auto;
    }

    .custom-image-medium {
        max-width: 50%;
    }

    .custom-image-large {
        max-width: 100%;
    }

    .custom-image-float-left {
        float: left;
        margin-right: 1em;
    }

    .custom-image-float-right {
        float: right;
        margin-left: 1em;
    }

    .custom-image-float-none {
        float: none;
        margin: 0;
    }


    img {
        @apply m-0;
        width: 100%;
        height: auto;
        display: inline;

        &.ProseMirror-selectednode {
            outline: 3px solid #68cef8;
        }
    }
}
